{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">{{ page_title }}</h1>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h5 class="title is-5">Jan</h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">Feb</h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">Mar</h5>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h5 class="title is-5">Apr</h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">May</h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">Jun</h5>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h5 class="title is-5">Jul</h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">Aug</h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">Sep</h5>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h5 class="title is-5">Oct</h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">Nov</h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">Dec</h5>
                </div>
            </div>
        </div>
    </section>
{% endblock %}